html, body {
    background-color: #3d3c42;
}
#title {
    background-color: #1e1e21;
    color: white;
    border-bottom: 3px solid rgb(143, 60, 125);
} 

#maincontainer {
    background-color: #1e1e21;
	box-shadow: 0 0 8px 4px rgb(143, 60, 125);
    color: white;
}

.light {
    background-image: linear-gradient(to bottom, #3d383d, #c0c0c0);
}
.light:hover  {
    box-shadow: 0 0 4px 4px rgba(112, 103, 112, 0.5);
}
.light:focus {
    box-shadow: 0 0 6px 6px rgba(247, 102, 215, 0.5);
}
.light.active:hover  {
    box-shadow: 0 0 4px 4px rgba(247, 102, 215, 0.5);
}
.light.active:focus {
    box-shadow: 0 0 6px 6px rgba(112, 103, 112, 0.5);
}
.light.active { 
    background-color: #351c36; 
}
 